#set($title="订单列表")
#set($js_name="order")
#set($active="order")
<!--控台框架上半部 begin-->
#parse("/screen/console/include/console-upper.vm")
<!--控台框架上半部 over-->
<link href="/cssmin/style.css?" rel="stylesheet" />
<!--我的服务内容区 begin****************************************************************************************-->

	<!-- 服务操作  begin -->
    <span class="span_1" ms-click="test">学生姓名</span><input type="text" class="input_1" id="student_name"  ms-duplex="student_name"/>
    <span class="span_1">基本信息</span><input type="text" class="input_1"	 id="info" ms-duplex="info"/>
    #if($!roleId==1)
	<span class="span_1">渠道</span>
    <div class="input_2_parent"><input type="text" class="input_2" id="channel" readonly="readonly" ms-duplex="channel" value="请选择渠道" />
        <ul>
        	<li ms-click="setChannel('')">全部</li>
        	#foreach ($channel in $!channelList)
            <li ms-click="setChannel('$channel.channelId')">$channel.channelName</li>
            #end
        </ul>
    </div>
	#end
	<span class="span_1">名单来源</span>
    <div class="input_2_parent"><input type="text" class="input_2" id="list_source" ms-duplex="list_source"  readonly="readonly" value="请选择名单来源" />
        <ul>
        	<li ms-click="setListSource('')">全部</li>
        	#foreach ($listSource in $!listSourceList)
            <li ms-click="setListSource('$listSource.listSourceId')">$listSource.listSourceName</li>
            #end
        </ul>
    </div>
	#if($!roleId==1)
	<span class="span_1">负责人</span>
    <div class="input_2_parent"><input type="text" class="input_2" id="user" ms-duplex="user"  readonly="readonly" value="请选择负责人" />
        <ul>
        	<li ms-click="setUser('')">全部</li>
        	#foreach ($user in $!userList)
            <li ms-click="setUser('$!user.userId')">$!user.realName</li>
            #end
        </ul>
    </div>#end
	<span class="span_1">状态</span>
    <div class="input_2_parent"><input type="text" class="input_2" id="order_status" ms-duplex="order_status"  readonly="readonly" value="请选择状态" />
        <ul>
        	<li ms-click="setOrderStatus('')">全部</li>
        	#foreach ($orderStatus in $!orderStatusList)
            <li ms-click="setOrderStatus('$!orderStatus.orderStatusId')">$!orderStatus.orderStatusName</li>
            #end
        </ul>
    </div>
	<div class="order-formContainer">
        <input class="data_input date_picker" type="text" id="startTimeMy" readonly="readonly" ms-duplex="startTime" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'endTimeMy\')||\'%y-%M-%d\'}'})">
        <div class="zhi"></div>
        <input class="data_input date_picker" type="text" id="endTimeMy" readonly="readonly" ms-duplex="endTime" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'startTimeMy\')}',maxDate:'%y-%M-%d'})">
		<div class="time">
            <span>
                <a ms-click="selectDate(0)">今天</a>
            </span>
            <span style="margin:0px 3px;color:#BFBFBF">|</span>
            <span>最近 :</span>
            <span>
                <a ms-click="selectDate(1)">1个月</a>
            </span>
            <span>
                <a ms-click="selectDate(3)">3个月</a>
            </span>
            <span>
                <a ms-click="selectDate(12)">1年</a>
            </span>
        </div>
    </div>
    <!--
	<span class="span_1">使用状态</span>
    <div class="input_2_parent" id="prdStatus"><input type="text" class="input_2" id="service_status" ms-duplex="service_status_prd"  readonly="readonly" value="请选择服务使用状态" />
        <ul ms-attr-prdStatus="prd" id="status">
        	<li ms-click="setServiceStatus('')">全部</li>
            <li ms-click="setServiceStatus(8)">正常</li>
            <li ms-click="setServiceStatus(9)">到期</li>
            <li ms-click="setServiceStatus(10)">未开通</li>
        </ul>
    </div>
	-->
	<!--<p style="float:left;margin-top:15px;"><a class="search_button" ms-click="seach()">搜索</a><a class="reset_botton" ms-click="reset()" style="margin-right:0;">重置</a></p>
-->
    <p style="margin-top:50px;"><a class="search_button" ms-click="seach()">搜索</a><a class="reset_botton" ms-click="reset()" style="margin-right:0;">重置</a></p>
	<!-- 服务操作  over -->

	<!-- 列表显示  begin -->
    <div class="table-responsive">
        <table class="order_table">
            <thead>
                <tr>
                    <th width="80">学生姓名</th>
					
                    <th width="300">基本信息</th>
					
					#if($!roleId==1)
						
						<th width="150">联系方式</th>
						
						<th width="80">渠道</th>
						
					#end<th width="80">名单来源</th>
					
					#if($!roleId==1)
                    <th width="80">负责人</th>
					
                    #end<th>备注</th>
					
                    <th width="80">状态</th>
					
                    <th width="100">创建时间</th>
					
                    <th width="100">修改时间</th>
					
                    <th width="80">操作</th>
                </tr>
            </thead>
            <tbody id="orderInfo">
                <tr ms-repeat-item="orderList">
                    <td ms-attr-title="{{item.contacts}}">
						{{item.studentName}}
					</td>					
                    <td ms-attr-title="{{item.info}}">
						{{item.info | truncate(12,"...")}}
					</td>
					
					#if($!roleId==1)
						
						<td>
							{{item.contacts | contactsplit(",") | html}}
						</td>
						
						<td ms-attr-title="{{item.channelName}}">
							{{item.channelName}}
						</td>	
						
					#end
					<td ms-attr-title="{{item.listSourceName}}">
                        {{item.listSourceName}}
					</td>
					
					#if($!roleId==1)
                    <td ms-attr-title="{{item.userName}}">
						{{item.userName}}
					</td>
					
                    #end<td ms-attr-title="{{item.remark}}">{{item.remark}}</td>
					
                    <td ms-attr-title="{{item.orderStatusName}}">{{item.orderStatusName}}</td>
					
                    <td ms-attr-title="{{item.createTime}}">{{item.createTime | date("yyyy-MM-dd HH:mm:ss")}}</td>
					
                    <td ms-attr-title="{{item.motifyTime}}">{{item.motifyTime | date("yyyy-MM-dd HH:mm:ss")}}</td>
					
                    <td >
                   		<span> <a ms-controller="order" id="changeOrder" ms-click="bouncedChangeOrder('ChangeOrder',item.orderId,item.orderStatusId,item.orderStatusName,item.remark)">修改</a></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--分页-->
    <div id="pageInfo" ms-widget="pager orderPager" style="margin-top: 20px;float: right;" data-duplex-changed="$render"></div>
    <!--分页-->
	<!-- 列表显示  over -->
	
<!--我的服务内容区 over****************************************************************************************-->

<!--控台框架下半部 begin-->
#parse("/screen/console/include/console-lower.vm")
<script src="/js/vendor/rsa.js"></script>
<!--控台框架下半部 begin-->
        