<!--这个页面全部都是给console模块用的弹框-->

<div class="black_overlay" id="fade" ></div><!--黑色遮罩-->
<!-- 安全中心页面   begin***********************************************************************-->
<!--弹框1：修改密码-->
<div id="ChangePassword" class="ChangePassword">
	<div class="popup">
    	<a ms-controller="common" class="close" ms-click="close('ChangePassword')"></a>
    	<h2>修改密码</h2>
        <div class="ui-item">
            <label class="ui-label">原密码</label>
            <div class="ui-content">
                <input type="password" class="ui-input error" id="old_password" ms-duplex="old_password" ms-blur="u1()">
				<span class="validation" id="u1"></span>
           </div>
		</div>
        <div class="ui-item">
            <label class="ui-label">新密码</label>
            <div class="ui-content">
                <input type="password" class="ui-input" id="new_password" ms-duplex="new_password" ms-blur="u2()">
				<span class="validation" id="u2" style="width:390px;">不能为空</span>
			</div>
            <p class="ui-prompt-gray">长度为6~14字符 支持数字、大小写字母和特殊符号</p>
            <p class="ui-prompt-gray">
                <span class="in" id="v1">弱</span>
                <span class="in" id="v2">中</span>
                <span class="in" id="v3">强</span>
			</p>
        </div>
        <div class="ui-item">
            <label class="ui-label">确认新密码</label>
            <div class="ui-content">
                <input type="password" class="ui-input" id="new_password_1" ms-duplex="new_password_1" ms-blur="u3()">
                <span class="validation" id="u3" style="width:390px;"></span>
            </div>
        </div>
        <div class="ui-item">
            <a class="ui-btn" ms-click="changePassword()">保存</a>
        </div>
    </div>
</div>
<!--弹框1：修改密码-->

<!--弹框2：修改订单-->
<div id="ChangeOrder" class="ChangeOrder">
    <div class="popup">
        <a ms-controller="common" class="close" ms-click="close('ChangeOrder')"></a>
        <h2>修改绑定手机号</h2>
        <div class="ui-item">
            <label class="ui-label">新手机</label>
            <div class="ui-content">
                <input type="text" id="tel" class="ui-input" ms-blur="u4()" ms-duplex="tel">
                <span class="validation" id="u4" style="width:390px;"></span>
            </div>
        </div>
        <div class="ui-item">
            <label class="ui-label">校验码</label>
            <div class="ui-content">
                <input type="text" class="ui-input ui-verifyCode" maxlength="8" id="verifyCode" ms-blur="u5()" ms-duplex="verifyCode">
                <a class="btn-VerifyCode" id="getChecked" ms-on-click="getChecked()">获取校验码</a>
                <span class="validation" id="u5" style="min-width:200px;margin-left:120px;">请输入字母或数字</span>
            </div>
        </div>
        <div class="ui-item">
            <a class="ui-btn" ms-click="changeOrder()">确定</a>
        </div>
    </div>
</div>
<!--弹框2：修改绑定手机号-->
<!-- 安全中心页面   over***********************************************************************-->


