#set($title="渠道管理")
#set($js_name="listSource")
#set($active="listSource")
<!--控台框架上半部 begin-->
#parse("/screen/console/include/console-upper.vm")
<!--控台框架上半部 over-->
<style>
	.oni-pager{float:right;}
</style>
<link href="/cssmin/style.css?" rel="stylesheet" />

<!--渠道内容区 begin****************************************************************************************-->
	<input id="listsourcelistsizetext"  type="hidden" value="$!listSourceList.size()" />
	<!-- 列表显示  begin -->
	<div class="prd_add_content">
		<div class="ui-item">
            <label class="ui-label"><i class="star"></i>名单来源</label>
            <div class="ui-content">
                <input type="text" ms-dupluex="list_source_name" id="list_source_name" class="ui-input" ms-blur="validatorListSourceName(this)" placeholder="不超过10个字符，只允许数字中文英文大小写">
            </div>
        </div>   
       <div class="btn-submit-box">
			<a ms-click="addListSource()" class="add_btn">添加名单来源</a>
        </div>    
	</div>
    <div class="table-responsive">
        <table id="listsourcelistTable" class="table table-striped">
            <thead>
                <tr>
                    <th>名单来源</th>
                    <th>状态</th>
					<th>操作</th>
                </tr>
            </thead>
            <tbody>
               #foreach ($listSource in $!listSourceList)
				#if($velocityCount>5)
					#set($hideclass="hidetd")
				#end
				<tr class="$!hideclass">
					<td>$!listSource.listSourceName</td>
					#if($listSource.status==1)
					<td>启用</td>
					#else
					<td>禁用</td>
					#end
					<td>
						<p>
							#if($listSource.status==1)
							<a ms-controller="listSource" ms-click="updateListSourceStatus('$!listSource.listSourceId',0)">禁用</a>
							#else
							<a ms-controller="listSource" ms-click="updateListSourceStatus('$!listSource.listSourceId',1)">启用</a>
							#end
						</p>
					</td>
				</tr>
				#end
            </tbody>
        </table>
        <!--分页-->
        <div class="pagercss" ms-widget="pager"></div>  
    </div>
<!--生产应用内容区 over****************************************************************************************-->

<!--控台框架下半部 begin-->
#parse("/screen/console/include/console-lower.vm")
<script src="/js/vendor/rsa.js"></script>
<!--控台框架下半部 begin-->
        