#parse("/screen/include/header-console.vm")
<title>$title</title>
<style>
	.hidetd{display:none;}
</style>
</head>

<body ms-controller=$js_name class="ms-controller">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="header-left">
                <a class="logo" href="/sts/order/list.html"></a>
                <a class="gl-header-manage fs-16" href="/sts/order/list.html">管理中心</a>
            </div>
            <ul class="gl-header-menu ms-controller" ms-controller="header">
                <li>
                    <a><span>{{username}}</span></a>
                </li>
                <li>
                    <a id="changePassword" ms-controller="common" ms-click="bounced('ChangePassword')">修改密码</a>
                </li>
                <li>
                    <a id="cas_logout_url" class="login" ms-click="logout()">退出</a>
                </li>
				<!--
                <li>
                    <a class="apidoc" href="/api.html">开发文档</a>
                </li>
				-->
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar">
            	<ul class="nav nav-sidebar">
                    <li><a><i class="parent-up"></i>订单管理</a></li>
                    <li class=#if($active=="order")"active"#else""#end><a href="/sts/order/list.html"><i class="child-1-2"></i>订单信息</a></li>
					#if($!roleId<2)
                    <li class=#if($active=="order_add")"active"#else""#end><a href="/sts/order/order_new.html"><i class="child-3-6"></i>订单录入</a></li>
					#end
                </ul>
				#if($!roleId<2)
                <ul class="nav nav-sidebar">
                    <li><a><i class="parent-up"></i>系统管理</a></li>
					<li class=#if($active=="user")"active"#else""#end><a href="/sts/option/user.html"><i class="child-1-5"></i>用户管理</a></li>
					<!-- <li class=#if($active=="channel")"active"#else""#end><a href="/sts/option/channel.html"><i class="child-1-1"></i>渠道管理</a></li> -->
					<li class=#if($active=="listSource")"active"#else""#end><a href="/sts/option/listSource.html"><i class="child-3-7"></i>名单来源管理</a></li>
					<li class=#if($active=="orderStatus")"active"#else""#end><a href="/sts/option/orderStatus.html"><i class="child-1-6"></i>订单状态管理</a></li>
                </ul>#end
			
			<script>
				$(".sidebar .nav-sidebar").each(function(){
					$(this).find("li").each(function(){
						if($(this).hasClass("active")){
							$(this).parent().addClass("active");
							$(this).parent().children("li:first-child").find("i").removeClass("parent-up").addClass("parent-down");
						}
					})
				})
			</script>
			
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">