<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.dao.LitsSourceMapper">
  <resultMap id="BaseResultMap" type="biz.domain.LitsSource">
    <id column="list_source_id" jdbcType="INTEGER" property="listSourceId" />
    <result column="list_source_name" jdbcType="VARCHAR" property="listSourceName" />
  </resultMap>
  <sql id="Base_Column_List">
    list_source_id, list_source_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from list_source
    where list_source_id = #{listSourceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from list_source
    where list_source_id = #{listSourceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="biz.domain.LitsSource">
    insert into list_source (list_source_id, list_source_name)
    values (#{listSourceId,jdbcType=INTEGER}, #{listSourceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="biz.domain.LitsSource">
    insert into list_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="listSourceId != null">
        list_source_id,
      </if>
      <if test="listSourceName != null">
        list_source_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="listSourceId != null">
        #{listSourceId,jdbcType=INTEGER},
      </if>
      <if test="listSourceName != null">
        #{listSourceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="biz.domain.LitsSource">
    update list_source
    <set>
      <if test="listSourceName != null">
        list_source_name = #{listSourceName,jdbcType=VARCHAR},
      </if>
    </set>
    where list_source_id = #{listSourceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="biz.domain.LitsSource">
    update list_source
    set list_source_name = #{listSourceName,jdbcType=VARCHAR}
    where list_source_id = #{listSourceId,jdbcType=INTEGER}
  </update>
</mapper>